<%= bootstrap_form_for(@beer_club) do |f| %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Name" %>
  </div>
  <div class="field">
    <%= f.number_field :founded, placeholder: "Founded" %>
  </div>
  <div class="field">
    <%= f.text_field :city, placeholder: "City" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
