<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<%= "Has "  + pluralize(@user.ratings.all.count.to_s, "rating") + ", average " + @user.average_rating.to_s %>

<p>
  <b>Ratings: </b>
<ul>
  <% @user.ratings.each do |r| %>
      <li ><%= r %> <%= link_to 'Delete', r, method: :delete %> </li>
  <% end %>
</ul>
</p>

<p>
  <% if @user.memberships.empty? %>
      User has not joined any clubs.
  <% else %>
      <b>Member of:</b>
      <ul>
        <% @user.memberships.each do |m| %>
            <li> <%= link_to m.beer_club.name, m.beer_club %> </li>
        <% end %>
      </ul>
  <% end %>
  </p>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>
