<h1>Rating statistics</h1>

<b>Total ratings: <%= @ratings.count %> </b>

<div class="row">
  <div class="col-md-3">
    <h3>Best breweries by rating</h3>
    <%= render 'list', objects: @topBreweries %>
  </div>
  <div class="col-md-3">
    <h3>Best beers by rating</h3>
    <%= render 'list', objects: @topBeers %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Most active users</h3>
    <table class="table table-hover">
      <th></th>
      <th>favorite beer</th>
      <th>favorite brewery</th>
      <th>favorite style</th>
      <th>ratings</th>
      <% @topUsers.each do |u| %>
          <tr>
            <td><b><%= link_to u.username, u %></b></td>
            <td> <%= link_to u.favorite_beer, u.favorite_beer if u.favorite_beer %> </td>
            <td> <%= link_to u.favorite_brewery, u.favorite_brewery if u.favorite_brewery %> </td>
            <td> <%= link_to u.favorite_style, u.favorite_style if u.favorite_style %> </td>
            <td><%= u.ratings.count %></td>
          </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <h3>Most recent ratings</h3>
    <table class="table table-hover">
      <th></th>
      <th>beer</th>
      <th>score</th>
      <% @ratings.recent.each do |rating| %>
          <tr>
            <td> <%= link_to rating.user.username, rating.user %> </td>
            <td> <%= link_to rating.beer.name, rating.beer %> </td>
            <td> <%= rating.score %> </td>
          </tr>
      <%end%>
    </table>
  </div>
</div>

<p>
  <% unless current_user.nil? %>
      <%= link_to('Add a new rating', new_rating_path) %>
  <% end %>
</p>