<p>
  <strong><%= @style.name %></strong>
</p>

<p>
  <%= @style.description %>
</p>

<% unless @style.beers.empty? %>
    <strong>Beers of this style:</strong>
    <p>
    <ul>
      <% @style.beers.each do |b| %>
          <li> <%= link_to b.name, b %> of <%= link_to b.brewery.name, b.brewery %></li>
      <% end %>
    </ul>
    </p>
<% end %>

<%= edit_and_destroy_buttons(@style) %>