<p>
  <strong><%= @style.name %></strong>
</p>

<p>
  <%= @style.description %>
</p>

<% unless @style.beers.empty? %>
    <strong>Beers of this style:</strong>
    <p>
    <ul>
      <% @style.beers.each do |b| %>
          <li> <%= b %> </li>
      <% end %>
    </ul>
    </p>
<% end %>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
