<%= bootstrap_form_for(@brewery) do |f| %>
    <div class="field">
      <%= f.text_field :name, placeholder: "Name" %>
    </div>
    <div class="field">
      <%= f.number_field :year, placeholder: "Year" %>
    </div>
    <div class="field">
      <%= f.check_box :active %>
    </div>
    <div class="actions">
      <%= f.submit class: "btn btn-primary" %>
    </div>
<% end %>
