<h2><%= @brewery.name %>
  <% if not @brewery.active  %>
      <span class="label label-info">Retired</span>
  <% end %>
</h2>

<p>
  <i><%= "Established  #{@brewery.year}" %></i>
</p>

<p>
  Beers: <%= @brewery.beers.count %>
</p>

<table class="table table-hover">
  <tr>
    <th>Beer</th>
    <th>Type</th>
  </tr>
  <% @brewery.beers.each do |b| %>
      <tr>
        <td><%= link_to b.name, b  %></td>
        <td><%= b.style %></td>
      </tr>
  <% end %>
</table>

<p>
  <% if @brewery.ratings.empty? %>
      Brewery has no rated beers.
  <% else %>
      <%= "Has #{pluralize(@brewery.ratings.all.count.to_s, "rating")}, average #{@brewery.average_rating.to_s}" %>
  <% end %>
</p>

<p>
  <%= link_to 'Edit', edit_brewery_path(@brewery) %> |
  <%= link_to 'Back', breweries_path %>
</p>

