<h1>Beer places search</h1>

<p id="notice"><%= notice %></p>


<p>
  <%= form_tag places_path do %>
      City: <%= text_field_tag :city, params[:city] %>
      <%= submit_tag "Search" %>
  <% end %>
</p>

<% if @places %>
    <table>
      <% @places.each do |place| %>
          <tr>
            <td><%= link_to place.name, place_path(place.id) %></td>
          </tr>
      <% end %>
    </table>
<% end %>