<!DOCTYPE html>
<html>
<head>
  <title>Ratebeer</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navibar">
  <%= link_to 'Breweries', breweries_path %>
  <%= link_to 'Beers', beers_path %>
  <%= link_to 'Ratings', ratings_path %>
  <p> <% if not session[:user_id].nil? %>
     <%= User.find(session[:user_id]).username %> signed in</p>
      <% else %>
      <%= link_to 'Log in', new_session_path %>
      or <%= link_to 'Sign up', new_user_path %>
  <% end %>
    </p>
</div>


<%= yield %>

</body>
</html>
